.root {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
  padding: 0 var(--mantine-spacing-sm) var(--mantine-spacing-lg);
}

.root > * {
  padding-top: var(--mantine-spacing-sm);
}

.root > *:last-child {
  padding-bottom: var(--mantine-spacing-sm);
}

@media (max-width: 520px) {
  .root {
    gap: var(--mantine-spacing-xs);
    padding: 0 var(--mantine-spacing-xs) var(--mantine-spacing-lg);
  }
}
